<%- include('partials/header') %>

<div class='container'>
	<header class='jumbotron'>
		<h1>
			Welcome to Yelp Attraction
		</h1>
		<p>
			Explore Attractions Near Atlanta!
		</p>
		<a class='btn btn-primary btn-lg' href='/attractions/new'>Add a new attraction</a>
	</header>
	
	<div class='row text-center' style='display: flex; flex-wrap: wrap;'>
		<% attractions.forEach(function(attr) { %>
			<div class='col-md-3 col-sm-6'>
				<div class='thumbnail'>				
					<img src='<%= attr.image%>'>
					<h3><%= attr.name %></h3>
					<p>
						<a href='/attractions/<%= attr._id %>' class='btn btn-primary'>More Info</a>
					</p>
				</div>

			</div>
		<% }); %>
	</div>
	

</div>


<%- include('partials/footer') %>